<%- include('../includes/header.ejs')%>
<link rel="stylesheet" href="./css/preferencias.css">
<br>
<body class="centrar" onload='javascript:IniciarVideo()'>
    <div class="container center">
        <video autoplay id='video' style="display: none;"></video>
        <div class="auto-mx pregunta"><h4 style="font-size: 25px;">¿Qué prefieres?</h4></div>
        <div class="flex-container">
            <div id="div1" class="efecto" style="width: min-content;">
                <img id="img1" src="./imagenes/comida/<%if(rnd==0){%><%=platillos[0].lista_1%><%} else {%><%=platillos[0].lista_2%><%}%>.jpg" onclick="escogerImagen('img1', 'img2', 0)">
            </div>
            <<div id="div2" class="efecto" style="width: min-content;">
                <img id="img2" src="./imagenes/comida/<%if(rnd==1){%><%=platillos[0].lista_1%><%} else {%><%=platillos[0].lista_2%><%}%>.jpg" onclick="escogerImagen('img2', 'img1', 0)">
            </div>
        </div>
        <div  style="align-items: flex-end;">
            <form action="/guardar-preferencias" method="POST">
                <div style="margin: 5px;">
                    <% for(var i = 0; i<platillos.length; i++){ %>
                        <svg id="C<%=i%>" version="1.1" xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" style="margin-top: -5px;"><circle cx="6" cy="6" r="5" <%if(i==0){%>fill="#1D82F7"<%} else {%>fill="#474B4D"<%}%>/></svg>
                        <%if(rnd==0){%>
                            <input type="hidden" name="ID<%=i%>" id="ID<%=i%>" value="<%=platillos[i].lista_1%> <%=platillos[i].lista_2%> <%=platillos[i].id%>" > 
                        <%} else {%>
                            <input type="hidden" name="ID<%=i%>" id="ID<%=i%>" value="<%=platillos[i].lista_2%> <%=platillos[i].lista_1%> <%=platillos[i].id%>" >
                        <%}%>
                        <%rnd = Math.floor(Math.random() * 2)%>
                    <%}%>
                    <input type="hidden" value="<%=video%>" class="name" name="id" id="sujeto">
                    <input type="hidden" value="" class="name" id="muestra">
                </div> 
                <div id="boton" >
                    <button type="button" class="btn btn-primary efecto" style="font-size: 1.5rem; width: 100%" disabled>Siguiente</button>
                </div>
            </form>
        </div>
    </div>
    <script src="./js/preferencias.js"></script>
    <script src="../js/record.js"></script>
</body>