<%- include('../includes/header.ejs')%>
<link rel="stylesheet" href="./css/preferencias.css">
<br>
<body class="centrar" onload='javascript:IniciarVideo()'>
    <div class="container center">
        <video autoplay id='video' style="display: none;"></video>
        <%var random = Math.floor(Math.random() * 2)%>
        <div class="auto-mx pregunta"><h4 style="font-size: 25px;">¿Qué muestra te pareció más dulce? <%=numVueltas%></h4></div>
        <div class="flex-container">
            <div class="efecto" style="width: min-content;" onclick="seleccionar('<%=random%>', 'img1', 'img2')">
                <img id="img1" src="./imagenes/muestra.png">
                <p class="texto center"><%=lista[random]%></p>
            </div>
            <div class="efecto" style="width: min-content;" onclick="seleccionar('<%=(random+1)%2%>', 'img2', 'img1')">
                <img id="img2" src="./imagenes/muestra.png">
                <p class="texto center"><%=lista[(random+1)%2]%></p>
            </div>
        </div>
        <div  style="margin: 15px; align-items: flex-end;">
            <form action="/umbral" method="POST">
                <div>
                    <input type="hidden" value="<%=video%>" class="name" name="id" id="sujeto">
                    <input type="hidden" value="<%=lista[2]%> - umbral" class="name" id="muestra">
                    <input type="hidden" id="respuesta" name="respuesta">
                </div> 
                <div style="margin-top: 15px;" id="boton" >
                    <button type="button" class="btn btn-primary efecto" style="font-size: 1.5rem; width: 100%" disabled>Siguiente</button>
                </div>
            </form>
        </div>
    </div>
</body>
<script src="./js/preferencias.js"></script>
<!-- <script src="../js/record.js"></script> -->
