<%- include('../includes/header.ejs')%>
<%- include('../includes/navigation.ejs')%>

<div class="">
    <div class="text-center"></div>
    <table class="table table-striped">
        <tr>
            <th>ID</th>
            <th>ID_USUARIO</th>
            <th>NOMBRE</th>
            <th>GUSTA MAS</th>
            <th>GUSTA MENOS</th>
        </tr>
        <% for(var i = 0; i<datos.length; i++){ %>
            <tr>
                <td><%=datos[i].id%></td>
                <td><%=datos[i].id_usuario%></td>
                <td><%=datos[i].nombre%></td>
                <td><%=datos[i].id_gusto%></td>
                <td><%=datos[i].id_no_gusto%></td>
            </tr>
        <%}%>
    </table>
</div>
</body>