<%- include('../includes/header.ejs')%>
<%- include('../includes/navigation.ejs')%>

<div class="">
    <div class="text-center"></div>
    <table class="table table-striped">
        <tr>
            <th>ID_USUARIO</th>
            <th>NOMBRE</th>
            <th>PRUEBA</th>
            <th>VISITA</th>
            <th>RESPUESTA</th>
            <th>DIRECCION</th>
            <th>LISTA</th>
        </tr>
        <% for(var i = 0; i<datos.length; i++){ %>
            <tr>
                <%datos[i].respuesta = (datos[i].respuesta==0)? 'incorrecta' : 'correcta';%>
                <td><%=datos[i].id_usuario%></td>
                <td><%=datos[i].nombre%></td>
                <td><%=datos[i].prueba%></td>
                <td><%=datos[i].visita%></td>
                <td style="<%if(datos[i].respuesta=='correcta'){%>color: red<% } else {%>color: green<%}%>"><%=datos[i].respuesta%></td>
                <td><%=datos[i].direccion%></td>
                <td><%=datos[i].lista%></td>
            </tr>
        <%}%>
    </table>
</div>
</body>